
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}