.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #324b65;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 10px;
  }
  
  .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
  }
  .logout-button:hover {
    text-decoration: underline;
  }
  